<!--
	Author:Hant
	Date:2019-05-15
-->
<!DOCTYPE html>
<html lang="zh">
<head>
	<title>studio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="tour" />

	<link href="../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<!-- font-awesome icons -->
	<link href="../css/fontawesome.css" rel="stylesheet">
	<!-- font-awesome icons -->
	<link href="../css/style.css" rel="stylesheet" type="text/css" media="all" />

</head>

<body>

	<!-- services -->
	<section class="services py-5" id="services">
		<div class="container py-5">
			<div class="middle-heading text-center mb-5">
				<h3>产品</h3>
			</div>

			<div class="row pt-lg-0 pt-5">
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
					<div class="our-services-wrapper mb-60">
						<div class="services-inner">
							<div class="our-services-icon">
								<span class="fa fa-plane"></span>
							</div>
							<div class="our-services-text">
								<h4>Lorem ipsum dolor</h4>
								<p>Proin varius pellentesque nunc tincidunt ante. Proin varius pellentesque nunc
									tincidunt ante Init id lacus</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
					<div class="our-services-wrapper mb-md-0 mb-60">
						<div class="services-inner">
							<div class="our-services-icon">
								<span class="fa fa-plane"></span>
							</div>
							<div class="our-services-text">
								<h4>Lorem ipsum dolor</h4>
								<p>Proin varius pellentesque nunc tincidunt ante. Proin varius pellentesque nunc
									tincidunt ante Init id lacus</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
					<div class="our-services-wrapper mb-60">
						<div class="services-inner">
							<div class="our-services-icon">
								<span class="fa fa-plane"></span>
							</div>
							<div class="our-services-text">
								<h4>Lorem ipsum dolor</h4>
								<p>Proin varius pellentesque nunc tincidunt ante. Proin varius pellentesque nunc
									tincidunt ante Init id lacus</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
					<div class="our-services-wrapper mb-md-0 mb-60">
						<div class="services-inner">
							<div class="our-services-icon">
								<span class="fa fa-plane"></span>
							</div>
							<div class="our-services-text">
								<h4>Lorem ipsum dolor</h4>
								<p>Proin varius pellentesque nunc tincidunt ante. Proin varius pellentesque nunc
									tincidunt ante Init id lacus</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
					<div class="our-services-wrapper mb-md-0 mb-60">
						<div class="services-inner">
							<div class="our-services-icon">
								<span class="fa fa-plane"></span>
							</div>
							<div class="our-services-text">
								<h4>Lorem ipsum dolor</h4>
								<p>Proin varius pellentesque nunc tincidunt ante. Proin varius pellentesque nunc
									tincidunt ante Init id lacus</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
					<div class="our-services-wrapper">
						<div class="services-inner">
							<div class="our-services-icon">
								<span class="fa fa-plane"></span>
							</div>
							<div class="our-services-text">
								<h4>Lorem ipsum dolor</h4>
								<p>Proin varius pellentesque nunc tincidunt ante. Proin varius pellentesque nunc
									tincidunt ante Init id lacus</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //services -->

</body>

</html>